<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>RRR</title>
</head>

<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">RRR</a>
            </div>
            <div>
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <div>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <img className="medium"
                                src="../template/images/recycle-waste-with-plastic-products-vector-25612264.jpg"
                                alt="item" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>plastic</h2>
                            </a>

                            <div class="rewardprice">$1</div>
                        </div>
                    </div>
                    <br />

                    <div class="card">
                        <a href="product.html">

                            <img class="medium" src="./images/recycling-companies-recycling-programs.jpg" alt="item" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>wrappers</h2>
                            </a>

                            <div class="rewardprice">$2</div>
                        </div>
                    </div>
                    <br />

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/paper-waste-blue-bin-waste-sorting-and-recycling.jpg"
                                alt="item" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Paper</h2>
                            </a>
                            <div class="rewardprice">$3</div>
                        </div>
                    </div>
                    <br />

                    <div class="card">
                        <a href="product.html">

                            <img class="medium" src="./images/Glass-Recycling-311x245.jpg" alt="item" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>glass</h2>
                            </a>

                            <div class="rewardprice">$4</div>
                        </div>
                    </div>
                    <br />

                    <div class="card">
                        <a href="product.html">
                            <img class="medium" src="./images/clothrecycle.jpg" alt="item" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>cloth</h2>
                            </a>

                            <div class="rewardprice">$5</div>
                        </div>
                    </div>
                    <br />


                    <div class="card">
                        <a href="product.html">

                            <img class="medium" src="./images/ahorro.png" alt="item" />
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>metals</h2>
                            </a>
                            <div class="rewardprice">$6</div>
                        </div>
                    </div>
                    <br />

                </div>
            </div>
        </main>
        <footer class="row center">All right reserved</footer>
    </div>
</body>

</html>